<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Configuración general -->
	<targets>
		<!-- Log en archivo -->
		<target xsi:type="File" name="file"
		   fileName="${basedir}/logs/logs-${shortdate}.log"
		   layout="${longdate} | ${level:uppercase=true} | ${message}" />


		<!-- Log en la consola -->
		<target xsi:type="Console" name="console" layout="${longdate} | ${level:uppercase=true} | ${message}" />
	</targets>

	<!-- Reglas para los niveles de log -->
	<rules>
		<!-- Registra todo (Trace, Debug, Info, Warn, Error, Fatal) en el archivo -->
		<logger name="*" minlevel="Trace" writeTo="file" />

		<!-- Registra solo Info y niveles superiores en la consola -->
		<logger name="*" minlevel="Info" writeTo="console" />
	</rules>
</nlog>
